@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&display=swap);


* {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    min-height: 100%;
    background-color:#f6f5f1;
}

li {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}

/* HOMEPAGE */

.titel {
    /* height: 801px; */
    height: 82.5vh;
    width: 100%;
}

.titel-img {
    width: 70%;
    height: 70%;
}

.img-illustration {
    height: 60vh;
    width: 60vh;
    margin-left: 50%;
    margin-top: 15%;
}

.titel-txt {
    position: absolute;
    text-align: center;
    top: 20%;
    left: 30%;
}


@media (max-width: 768px) {
    .titel {
        height: 80vh;
        width: 100%;
    }
    .titel-img {
        width: 50%;
        height: 50%;
        margin-top: 10%;
    }
    .titel-txt {
        position: absolute;
        text-align: center;
        left: 2%;
    }
    .img-illustration {
        height: 100%;
        width: auto;
        margin-left: 27%;
        margin-top: 120%;
    }
}

/* OVER */

.about-flex {
    display: flex;
    flex-direction: row;
}

.about-txt {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    text-align: justify;
}

.about-pic {
    margin-right: 5%;
    /* margin-bottom: 14.5%; */
    margin-bottom: 8%;
    margin-top: 5%;
}

.about-foto {
    width: 100%;
    height: 100%;
}
 
@media (max-width: 768px) {
    .about-flex {
        display: flex;
        flex-direction: column;
    }
    .about-txt {
        margin-left: 5%;
        margin-right: 5%;
        text-align: justify;
    }
    .about-txt1 {
        margin-top: 5%;
    }
    .about-pic {
        margin-left: 4%;
    }
}

/* WORK */

/* infographic-klimaat */
.infographic-flex{
    display: flex;
    flex-direction: row;
}
.klimaat-infographic {
    margin-right: 20%;
    margin-top: 5%;
    margin-bottom: 8%;
    height: 65vh;
    width: 100vw;
}

#klimaat-img {
    width: 100%;
    height: 100%;
}

.about-infographic{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    text-align: justify;
}

.link {
    text-decoration: none;
    color: black;
    border-bottom: 2px solid #f4aa00;
}

@media (max-width: 768px) {
    .infographic-flex{
        display: flex;
        flex-direction: column;
    }
    .klimaat-infographic {
        width: 90%;
        height: 90%;
        margin-left: 5%;
        margin-bottom: 5%;
    }
    .about-infographic {
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 10%;
        margin-bottom: 15%;
    }
}

/* website polragroup */
.polra-flex{
    display: flex;
    flex-direction: row;
}

.website-polragroup {
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 12%;
}

.polragroup-img {
    width: 100%;
    height: 100%;
}

.about-polragroup {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    text-align: justify;
}

@media (max-width: 768px) {
    .polra-flex{
        display: flex;
        flex-direction: column;
    }
    .website-polragroup {
        width: 90%;
        height: 90%;
        margin-top: 2%;
        margin-bottom: 25%;
        margin-left: 5%;
    }
    .about-polragroup {
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 18%;
        margin-top: 5%;
        text-align: justify;
    }
}

/* website delta */

.delta-flex {
    display: flex;
    flex-direction: row;
}

.foto-delta {
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 14.5%;
}

.delta-img {
    width: 100%;
    height: 100%;
}

.about-delta {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    text-align: justify;
}

@media (max-width: 768px) {
    .delta-flex {
        display: flex;
        flex-direction: column;
    }

    .foto-delta {
        margin-left: 10%;
        margin-bottom: 20%;
    }

    .delta-img{
        width: 100%;
        height: 100%;
    }
    .about-delta {
        margin-bottom: 5%;
    }
}

/* website webatlas */

.webatlas-flex {
    display: flex;
    flex-direction: row;
}

.foto-webatlas {
    margin-right: 8%;
    margin-top: 5%;
    margin-bottom: 9%;
}

.webatlas-img {
    width: 100%;
    height: 100%;
}

.about-webatlas {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    text-align: justify;
}

@media (max-width: 768px) {
    .webatlas-flex {
        display: flex;
        flex-direction: column;
    }

    .foto-webatlas {
        margin-left: 10%;
        margin-bottom: 20%;
    }

    .webatlas-img{
        width: 100%;
        height: 100%;
    }
    .about-webatlas {
        margin-bottom: 5%;
    }
}

/* infographic-duurzaam */
.sawadee-flex{
    display: flex;
    flex-direction: row;
}

.duurzaam-infographic {
    margin-right: 20%;
    margin-top: 5%;
    margin-bottom: 11%;
    height: 55vh;
    width: 100vw;
}

#duurzaam-img {
    width: 100%;
    height: 100%;
}

.about-infographic-s {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    text-align: justify;
}

@media (max-width: 768px) {
    .sawadee-flex{
        display: flex;
        flex-direction: column;
    }

    .duurzaam-infographic {
        width: 90%;
        height: 90%;
        margin-left: 5%;
        margin-bottom: 5%;
    }
    .about-infographic {
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 2%;
        margin-bottom: 5%;
    }
}

/* wakibi */

.wakibi-flex {
    display: flex;
    flex-direction: row;
}

.foto-wakibi {
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 8%;
    height: 70vh;
    width: 80vw;
}

.wakibi-img {
    width: 100%;
    height: 100%;
}

.about-wakibi {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    text-align: justify;
}



@media (max-width: 768px) {
    .wakibi-flex {
        display: flex;
        flex-direction: column;
    }

    .foto-wakibi {
        margin-right: 10%;
        margin-top: 5%;
        margin-bottom: 8%;
        height: 60vh;
        width: auto;
    }

    .foto-wakibi {
        margin-left: 10%;
        margin-bottom: 20%;
    }

    .wakibi-img{
        width: 100%;
        height: 100%;
    }
    .about-wakibi {
        margin-bottom: 5%;
    }
}

/* CONTACT */
.contact-txt {
    margin-left: 35%;
    margin-bottom: 44.5%;
    text-align: justify;
}

@media (max-width: 768px) {
    .contact-txt {
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 15%;
        margin-bottom: 0%;
        text-align: justify;
    }
}

/* FOOTER */

.footer {
    height: 75px;
    width: 100%;
    background-color: #f4aa00;
    position: absolute;
}

.footer-txt {
    text-align: center;
    color: #191414
    /* margin-top: 0.5%; */
}

.footer-icons {
    text-align: center;
}

.fab, .fas {
    padding: 10px;
    font-size: 20px;
    width: 40px;
    text-decoration: none;
    color: #191414;
}

a .fas:hover, .fab:hover {
    color: #191414;
    transition: 0.3s;
}

@media (max-width: 768px) {
    .footer {
        margin-top: 47%;
        position: absolute;
    }
}
