@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&display=swap);
/* MENU */

.header {
    height: 100px;
    padding: 0 20px;
    color: black;
}

.logo {
    line-height: 100px;
    /* float: left; */
    display: inline-block;
    vertical-align: top;
    width: 80px;
    height: 45px;
    margin-right: 20px;
    margin-top: 30px;
    /* border: 1px solid red; */
}

.menu {
    float: right;
    line-height: 100px;
    font-size: 18px;
    font-weight: 900;
    /* border: 1px solid red; */
}

.menu a {
    color: black;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
}

.show-menu-btn, .hide-menu-btn {
    transition: 0.4s;
    font-weight: 400;
    cursor: pointer;
    display: none;
}

.show-menu-btn {
    float: right;
}

.menu a:hover, .show-menu-btn:hover, .hide-menu-btn:hover {
    color: #F4AA00;
}

.menu li a.active {
    color: #F4AA00;
}

#checkbox {
    position: absolute;
    visibility: hidden;
    z-index: -1111;
}

/* .fas{
    color:#191414;
} */

@media screen and (min-width: 320px) and (max-width: 640px) {
    .fas, .fab{
        color:#191414;
    }
    .show-menu-btn, .hide-menu-btn {
        display: block;
        margin-top: 20px;
    }
    .menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #f2f2f2;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 80px 0;
        line-height: normal;
        transition: 0.7s;
        z-index: 9999;
    }
    .menu a {
        display: block;
        padding: 20px;
    }
    .hide-menu-btn {
        position: absolute;
        top: 40px;
        right: 40px;
    }
    #checkbox:checked~.menu {
        right: 0;
    }
    /* .menu a:hover{
        border-bottom: 3px solid #DA1B83; 
        color: lightcoral; 
    } */
    .logo {
        width: 15%;
        height: 25%;
    }
    .header {
        margin-bottom: -5%;
    }
}