*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

li{
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}
@media screen and (max-width:768px){
    section{
        width: 100%;
        height: 768px;
        float: left;
    }

}

/* MENU */
.header{
    height: 100px;
    padding: 0 20px;
    color: black;
}

.logo{
    line-height: 100px;
    /* float: left; */
    display: inline-block;
    vertical-align: top;
    width: 80px;
    height: 45px;
    margin-right: 20px;
    margin-top: 30px;
    /* border: 1px solid red; */
}

.menu{
    float: right;
    line-height: 100px; 
    font-size: 18px;
    font-weight: 900;
    /* border: 1px solid red; */
}

.menu a{
    color: black;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s; 
}

.show-menu-btn, .hide-menu-btn{
    transition: 0.4s;
    font-weight: 400;
    cursor: pointer;
    display: none;  
}

.show-menu-btn{
    float: right;  
}

.menu a:hover, 
.show-menu-btn:hover,
.hide-menu-btn:hover{
    color: lightcoral;    
}

#checkbox{
    position: absolute;
    visibility: hidden;
    z-index: -1111;
}

@media screen and (max-width:768px){
    .show-menu-btn, .hide-menu-btn{
        display: block;
        margin-top: 20px;
    }

    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: lightcoral; 
        right: -100%;
        top: 0;
        text-align: center;
        padding: 80px 0;
        line-height: normal;
        transition: 0.7s;
        z-index: 9999;
    }

    .menu a{
        display: block;
        padding: 20px;
    }

    .hide-menu-btn{
        position: absolute;
        top: 40px;
        right: 40px;
    }

    #checkbox:checked ~ .menu{
        right: 0;
    }

    /* .menu a:hover{
        border-bottom: 3px solid #DA1B83; 
        color: lightcoral; 
    } */

    .logo{
        width: 10%;
        height: 20%;
    }
}

.box{
    position: relative;
    display: inline-block;
}

.box .tekst{
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 15%;
    right: 0;
    top: 2%; 
    text-align: center;
    width: 80%; 
    font-size: 40px;
}

.foto{
    width: 50%;
    height: 50%;
    margin-left: 70%;
}
